/* style.css */

/* Root variables for easy customization */
:root {
  --main-color: #333;
  --secondary-color: #555;
  --bg-color: #f4f4f4;
  --white-color: #fff;
  --light-gray-color: #ccc;
  --dark-gray-color: #777;
  --primary-font: Arial, sans-serif;
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

h1 {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
}

.form-container,
.search-container {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* form related styles */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="url"],
form input[type="number"],
#search {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid var(--light-gray-color);
}

form input[type="submit"] {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

/* Grid layout for the list */
#item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 0;
  list-style: none;
}

/* List item styles */
li {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

li img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

li h2 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

li p {
  margin: 0;
  margin-bottom: 0.5rem;
}

li a {
  color: #0074d9;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

li span {
  font-size: 0.9rem;
  color: var(--dark-gray-color);
  display: block;
  margin-bottom: 0.5rem;
}

li button {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: auto;
  /* Pushes buttons to the bottom of the container */
}

li button:last-child {
  margin-right: 0;
}

li button:hover {
  background-color: var(--secondary-color);
}

/* Search input styles */
.search-container {
  width: 100%;
  max-width: 700px;
  margin: 1rem auto;
}

#search {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--light-gray-color);
}