/* styles.css */

:root {
  --main-color: #333;
  --secondary-color: #555;
  --bg-color: #f4f4f4;
  --white-color: #fff;
  --light-gray-color: #ccc;
  --dark-gray-color: #777;
  --primary-font: Arial, sans-serif;
}

body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  background-color: var(--bg-color);
}

h1,
form input[type="submit"],
#add-item-btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 1rem;
  border-radius: 4px;
}

form input[type="submit"]:hover,
li button:hover,
#add-item-btn:hover {
  background-color: var(--secondary-color);
}

h1 {
  text-align: center;
}

#add-item-btn {
  display: block;
  margin: 0 auto 2rem;
  border: none;
  cursor: pointer;
}

.form-container,
.search-container,
li {
  max-width: 700px;
  margin: 2rem auto;
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.form-container.visible {
  display: flex;
}

form,
li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label,
li h2,
li p {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="url"],
form input[type="number"],
#search {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid var(--light-gray-color);
}

form input[type="submit"] {
  width: 100%;
  border: none;
  cursor: pointer;
}

#item-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  list-style: none;
  max-width: 1200px; /* set the maximum width to 1200 pixels */
  margin: 0 auto; /* center the grid horizontally */
}

li {
  flex-direction: column;
  position: relative;
}

li img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

li a {
  color: #0074d9;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

li span {
  font-size: 0.9rem;
  color: var(--dark-gray-color);
  margin-bottom: 0.5rem;
}

li button {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: auto;
}

li button.delete {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
}

li button.delete:hover {
  background-color: var(--secondary-color);
}

#search {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--light-gray-color);
}

#add-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.hidden {
  display: none;
}
