<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New LED Control Grid V1.5</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .grid-container {
            display: grid;
            gap: 5px; /* Reduced gap between checkboxes */
            margin-bottom: 20px;
        }
        .grid-cell {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <script src="{{ url_for('static', filename='gen_grid.js') }}"></script>
</head>


<body>
<div class="container mx-auto mt-8">

    <div class="mb-4"><label for="compartment_count" class="block text-gray-700 font-bold mb-2">Compartment count:</label>
            <input type="number" id="compartment_count" name="compartment_count" min="1" value="4" onchange="populatepos()"
                   class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
    <div class="mb-4">
        <label for="position_map" class="block text-gray-700 font-bold mb-2">Select Position:</label>
        <select id="position_map" onchange="updateCompartment()"
                class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </select>
    </div>
    <div class="mb-4">
    <button onclick="generateGrid()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2">Generate Grid</button>
        <button type="button" id="test_lights" onclick="TestLights()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2">Test Lights</button>
    </div>
    <div class="mb-4">
        <div class="grid-container" id="gridContainer"></div>
        <button onclick="submitLights()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2">Submit</button>
        <button onclick="clearAll()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2">Clear All</button>
    </div>
</div>

</body>
</html>
