<!DOCTYPE html>
<html>

<head>
    <title>MIMOSA Interface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>M.I.M.O.S.A V1.3</h1>
    <button type="button" id="btn-add">Add</button>
    <div class="form-container" id="form-container">
        <form id="add-form">
            <div class="name">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="link">
                <label for="link">Link:</label>
                <input type="url" id="link" name="link" required>
            </div>
            <div class="image">
                <label for="image">Image:</label>
                <input type="url" id="image" name="image" required>
            </div>
            <div class="position">
                <label for="position">Position:</label>
                <input type="text" id="position" name="position" required>
            </div>
            <input type="submit" value="Add">
        </form>
    </div>
    <div class="search-container">
        <input type="text" id="search" placeholder="Search items...">
    </div>
    <ul id="item-list"></ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>


</html>