<!DOCTYPE html>
<html data-bs-theme="auto">

<head>
    <title>MIMOSA Interface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../static/overrides.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-negative-margins.css" media="screen"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom border-light">
    <div class="container-fluid">
        <a class="navbar-brand scroll-to-top" href="#">M.I.M.O.S.A V4 Beta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success pe-3" data-bs-toggle="modal" data-bs-target="#item-modal">
                        <span class="icon-n4px"><i data-lucide="plus" class="me-2"></i>Add Item</span>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://youtu.be/7C4i-2IqSS4" target="_blank">Tutorial<i data-lucide="external-link" class="ms-1" style="height:20px; margin-top:-6px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/FireMarshmellow/M.I.M.O.S.A" target="_blank">GitHub Repo<i data-lucide="external-link" class="ms-1" style="height:20px; margin-top:-6px;"></i></a>
                </li>
            </ul>

            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-2 mb-md-0">
                        <div class="d-flex align-items-center position-relative w-100 me-0 me-md-2">
                            <input type="text" class="form-control flex-grow-1" placeholder="Search items..." id="search">
                            <i data-lucide="search" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown" data-bs-toggle="tooltip" title="Sorting methods">
                <button class="btn btn-outline-secondary my-2 my-md-0 me-0 me-md-2 dropdown-toggle icon-n4px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-lucide="arrow-down-up"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" id="sort_method">
                    <li><a class="dropdown-item" href="#" onclick="sortItems('ip')"><i data-lucide="arrow-down-0-1" class="me-2"></i>Box</a></li>
                    <li><a class="dropdown-item" href="#" onclick="sortItems('id')"><i data-lucide="arrow-down-0-1" class="me-2"></i>ID</a></li>
                    <li><a class="dropdown-item" href="#" onclick="sortItems('name')"><i data-lucide="arrow-down-a-z" class="me-2"></i>Name</a></li>
                    <li><a class="dropdown-item" href="#" onclick="sortItems('quantity')"><i data-lucide="arrow-down-0-1" class="me-2"></i>Quantity</a>
                    <li><a class="dropdown-item" href="#" onclick="sortItems('position')"><i data-lucide="arrow-down-0-1" class="me-2"></i>Location</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-secondary my-2 my-md-0 me-0 me-md-2 dropdown-toggle icon-n4px" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <i data-lucide="filter"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" id="sort_tags">
                </ul>
            </div>

            <button class="btn btn-outline-secondary my-2 my-md-0 icon-n4px" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasExample">
                <i data-lucide="settings"></i>
            </button>



        </div>

    </div>
</nav>

<div class="container-fluid mt-5 pt-3">

    <div id="items-container-grid" class="row"></div>
    <div id="items-container-list"></div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSettings" aria-labelledby="offcanvasSettingsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSettingsLabel">Settings</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row mb-3">
                <h6>LEDs</h6>
                <div class="btn-group mb-2" role="group">
                    <button id="on-button" class="btn btn-success pe-3">
                        <span class="icon-n4px"><i data-lucide="lightbulb" class="me-2"></i>On</span></button>
                    <button id="off-button" class="btn btn-danger pe-3">
                        <span class="icon-n4px"><i data-lucide="lightbulb-off" class="me-2"></i>Off</span></button>
                    <button id="party-button" class="btn btn-rainbow pe-3">
                        <span class="icon-n4px"><i data-lucide="party-popper" class="me-2"></i> Party-Mode</span>
                    </button>
                </div>

                <label id="brightness-title" for="settings_brightness">Brightness:
                    <span id="brightness-display">50%</span></label>
                <input type="range" id="settings_brightness" name="brightness" min="0" max="100" step="1" class="form-range">

                <label id="timeout-title" for="settings_timeout">Timeout:
                    <span id="timeout-display">0m 0s</span></label>
                <input type="range" id="settings_timeout" name="brightness" min="0" max="300" step="1" class="form-range">
            </div>
            <hr>
            <div class="row">
                <h6>ESP Devices</h6>
                <div>
                    <table class="table table-sm table-striped overflow-hidden" id="esp_table">
                    </table>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-success me-0 me-md-2 pe-3" data-bs-toggle="modal" data-bs-target="#esp-modal">
                        <span class="icon-n4px"><i data-lucide="plus" class="me-2"></i>Add ESP Device</span>
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <h6>Web Interface</h6>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-light pe-3" data-bs-theme-value="light">
                        <span class="icon-n4px"><i data-lucide="sun" class="me-2"></i>Light</span></button>
                    <button type="button" class="btn btn-dark pe-3" data-bs-theme-value="dark">
                        <span class="icon-n4px"><i data-lucide="moon" class="me-2"></i>Dark</span></button>
                    <button type="button" class="btn btn-secondary pe-3" data-bs-theme-value="auto">
                        <span class="icon-n4px"><i data-lucide="sun-moon" class="me-2"></i>Auto</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="item-modal" tabindex="-1" aria-labelledby="item-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="item-modal-label">Add Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetModal()"> </button>
                </div>
                <div class="modal-body">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="item_name" placeholder="Name" required>
                        <label for="item_name">Item name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="item_url" placeholder="URL">
                        <label for="item_url">Item URL</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="item_quantity" placeholder="1" required>
                        <label for="item_quantity">Item quantity</label>
                    </div>

                    <div class="row">
                        <div class="col-4 pe-2">
                            <div class="form mb-3">
                                <label for="item_image">Item image URL</label>
                                <input type="url" class="form-control" id="item_image" placeholder="https://placehold.co/150x100?text=Hello+World">

                            </div>
                        </div>
                        <div class="col-1 text-center or-text">
                            <span>or</span>
                        </div>
                        <div class="col-7 ps-2">
                            <div class="form">
                                <label for="item_image_upload">Upload image file</label>
                                <input type="file" class="form-control" id="item_image_upload" name="file">
                            </div>
                        </div>
                    </div>

                    <div class="form mb-3">
                        <label for="item_url">Tags</label>
                        <input type="text" class="form-control" id="item_tags">
                    </div>

                    <label for="item_esp_select">Select an ESP device</label>
                    <select class="form-select mb-3" id="item_esp_select">
                    </select>
                    <div>
                        <button id="test_led_button" class="btn btn-success pe-3">
                            <span class="icon-n4px"><i data-lucide="lightbulb" class="me-2"></i>Test LEDs</span></button>
                        <button id="clear_led_button" class="btn btn-danger pe-3">
                            <span class="icon-n4px"><i data-lucide="x" class="me-2"></i>Clear Grid</span></button>
                    </div>
                    <label for="item-canvas-container">Select LEDs to assign to item</label>

                    <div id="item-canvas-container" class="col-10 mx-auto">
                        <canvas id="item-responsive-canvas"></canvas>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pe-3" id="cancel-item-button" data-bs-dismiss="modal"  onclick="resetModal()">
                        <span class="icon-n4px"><i data-lucide="x" class="me-2"></i>Cancel</span></button>
                    <button type="button" class="btn btn-success pe-3" id="save-item-button" data-bs-dismiss="modal" >
                        <span class="icon-n4px"><i data-lucide="plus" class="me-2"></i>Add</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="esp-delete-modal" tabindex="-1" aria-labelledby="espDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="espDeleteModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete ESP device <span id="deviceNameSpan"></span> with IP address
                        <span id="ipAddressSpan"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="esp-modal" tabindex="-1" aria-labelledby="esp-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="esp-modal-label">Add ESP</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger d-none" id="esp-error-alert">Please enter values in the follow empty fields:<br><span id="error-list"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="esp_name" placeholder="Name" required>
                        <label for="esp_name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="esp_ip" placeholder="IP">
                        <label for="esp_ip">IP address</label>
                    </div>
                    <div class="row">
                        <div class="col-6 pe-2">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="esp_rows" placeholder="4" min="1" value="4" required>
                                <label for="esp_rows">Rows</label>
                            </div>
                        </div>
                        <div class="col-6 ps-2">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="esp_columns" placeholder="4" min="1" value="4" required>
                                <label for="esp_columns">Columns</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 pe-0">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="esp_startx">
                                    <option selected data-startx="Left">Left</option>
                                    <option value="1" data-startx="Right">Right</option>
                                </select>
                                <label for="esp_startx">Start Left</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="esp_starty">
                                    <option selected data-starty="Top">Top</option>
                                    <option data-starty="Bottom">Bottom</option>
                                </select>
                                <label for="esp_starty">Start Top</label>
                            </div>

                        </div>
                        <div class="col-4 ps-0">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="esp_serpentine">
                                    <option selected data-serpentine="Horizontal">Horizontal</option>
                                    <option value="1" data-serpentine="Vertical">Vertical</option>
                                </select>
                                <label for="esp_serpentine">Serpentine Direction</label>
                            </div>
                        </div>
                    </div>
                    <div id="esp-canvas-container" class="col-10 mx-auto">
                        <canvas id="esp-responsive-canvas"></canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pe-3" data-bs-dismiss="modal">
                        <span class="icon-n4px"><i data-lucide="x" class="me-2"></i>Cancel</span></button>
                    <button type="button" class="btn btn-success pe-3" id="save-esp-button">
                        <span class="icon-n4px"><i data-lucide="plus" class="me-2"></i>Add</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../static/script.js"></script>
<script src="../static/esp.js"></script>
<script src="../static/tags.js"></script>
<script src="../static/settings.js"></script>
<script src="../static/gen_grid.js"></script>
<script src="../static/color-modes.js"></script>


<script>
        lucide.createIcons();
</script>
</body>

</html>